<!DOCTYPE html>
<html lang="en">
{{>common/head subtitle="Administration"}}
<body>
  <div class="section header">
    <div class="container">
      <div class="row">
        <div class="twelve columns">
          <h1 class="section-heading">Football Fours</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="section login">
    <div class="container">  
      <h2 class="section-heading">Administration</h2>
      <div class="twelve columns">
        <a href="/admin/seasons.html">Seasons</a>
      </div>
      <div class="twelve columns">
        <a href="/admin/rounds.html">Rounds</a>
      </div>
      <div class="twelve columns">
        <a href="/admin/teams.html">Teams</a>
      </div>
      <div class="twelve columns">
        <a href="/admin/matches.html">Matches</a>
      </div>
      <div class="twelve columns">
        <a href="/admin/logout.html">Logout</a>
      </div>
    </div>
  </div>
</body>
</html>
