<!DOCTYPE html>
<html lang="en">
{{>common/head subtitle="Logout"}}
<body>
  <div class="section header">
    <div class="container">
      <div class="row">
        <div class="twelve columns">
          <h1 class="section-heading">Football Fours</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="section login">
    <div class="container">  
      <h2 class="section-heading">You are now logged out</h2>
      <div class="twelve columns">
        <a href="/admin/login.html">Login</a>
      </div>
      <div class="twelve columns">
        <a href="/">Home</a>
      </div>
    </div>
  </div>
</body>
</html>
