<!DOCTYPE html>
<html lang="en">
{{>common/head subtitle="Summary of the Rules"}}
<body>
  <div class="section header">
    <div class="container">
      <div class="row">
        <div class="twelve columns">
          <h1 class="section-heading">Football Fours</h1>
          <div class="nav"><a href="fixtures.html">Fixtures / Results</a> - <a href="tables.html">Tables</a> - <span style="font-weight: bold;">Summary of the Rules</span> - <span>Social Football Code</span> - <span>Competition Regulations</span></div>
          <div style="padding-top: 5%;" class="section-description">The following is a brief summary of the Social Football Code (playing rules) and the Competition Regulations.</div>
        </div>
      </div>
    </div>
  </div>
  <div class="section socialfootballcodesummary">
    <h2 class="section-heading">Social Football Code Summary</h2>
    <div class="container">
      <div class="row">
        <div class="twelve columns">
          <h3>Players’ Equipment</h3>
          <p>
          Players must wear footwear, and must not wear anything dangerous to any other player. Shinguards are recommended, but if worn, must be wholly covered by socks.
          </p>
          <h3>Players, Substitutes, and Decisions</h3>
          <p>
          Teams consist of four players, one of whom is the goalkeeper, plus up to two additional substitutes.
          </p>
          <p>
          Substitutions can be made at any time, provided that the ball is five metres away and the player entering enters where the player exiting exits. If a team has only three players able to play, the other team must reduce to three. If a team has less than three players able to play, the match is forfeited.
          </p>
          <p>
          Goalkeeper changes must occur either:
          <p>
          <ul>
          <li>
          when the ball is out of play at half time, or for a restart to be taken by the team making the change; or
          </li>
          <li>
          by performing a regular substitution with a substitute wearing goalkeeper colours, regardless of whether the ball is in or out of play. 
          </li>
          </ul>
          <p>
          As there are no referees, players call infringements and ball out of play. The captain's decision on whether a call is made, contested or withdrawn by their team is final. Contested restarts result in a goal line restart (goal clearance or goal kick) to the team whose half the ball was in. If a call is made that results in play being stopped, and is then withdrawn by the team making the call, the team the call was made against receives a free kick from where the ball was located when play was stopped. Teams are encouraged to play in a sporting manner by:
          </p>
          <ul>
          <li>
          immediately conceding a restart when they are aware they or a teammate have committed an offence or the ball has gone out of play off them; and 
          </li>
          <li>
          only calling outs off the opposition if they are completely certain and infringements by the opposition if it is either blatant or has an obvious impact on the game.
          </li>
          </ul>
          <h3>The Length of the Match and The Ball In Play</h3>
          <p>
          The duration of each match is 40 minutes, consisting of two 20 minute periods. Teams may mutually agree to shorten the playing time before the start of the match, down to a minimum of 30 minutes, provided that both playing periods remain equal in length.
          </p>
          <p>
          The ball is only considered to have crossed a line only if the whole ball has passed over the line, ie. none of the ball is overhanging the line.
          </p>
          <h3>Restarts of Play</h3>
          <p>
          If the ball crosses a touch line, the opponents of the team who last touched the ball take a touch line restart - their choice of either a kick-in or throw-in. For the goal line, if last touched by the attacking team, the opponents take a goal line restart - their choice of either a goal clearance or goal kick, otherwise, if last touched by the defending team, the opponents take a corner kick.
          </p>
          <p>
          Throw-ins are taken with part of both feet grounded either on or behind the line, with both hands, with at least part of the ball starting behind an imaginary vertical line continuing upwards from the centre of the top of the player's head. The ball must not stop moving once it starts being thrown until it is released eg. stopping the ball in front of the chest and then dropping it or pushing it is an infringement of the throw-in procedure.
          </p>
          <p>
          Kick-ins are taken with part of the ball on or behind the line. Goal clearances are taken by the goalkeeper throwing the ball from within their goal area. Goal kicks are taken from any point within the goal area.
          </p>
          <p style="padding-left: 5px; border-left: 2px solid; font-weight: bold;">
          Kick-offs (taken at the start of each period, and after a goal is scored) may be kicked in any direction.
          </p>
          <p>
          Any infringement of a restart procedure results in a retake by the same team.
          </p>
          <p>
          All restarts are direct ie. players can score against opponents on any restart without it first touching another player, but not against themselves. 
          </p>
          <h3>Fouls, Misconduct and Other Infringements</h3>
          <p>
          Goalkeeper infringements (handling a ball deliberately kicked or thrown to the goalkeeper by a teammate, handling the ball after having possession with feet or hands for more than ten seconds) result in a free kick awarded on the goal area line, closest to where the infringement occurred.
          </p>
          <p>
          Double-touch infringements (playing the ball a second time after taking a restart, before it touches a teammate or opponent, or goes out of play) result in a free kick awarded to the opponents from where the ball was touched a second time.
          </p>
          <p>
          Free kicks are awarded for fouls - ie. any unfair contact (any contact that impacts ability to move or play the ball other than a fair charge), dangerous play, deliberate handling, impeding, challenging the goalkeeper when they have possession of (ie. the ball held between part of at least one hand/arm and any other surface) or are releasing the ball.
          </p>
          <p>
          Fair charges involve side to side contact, with at least one of the charger or the player being charged within playing distance of the ball. The charge must be made whilst moving towards the ball, and involve no active use of the arm.
          </p>
          <p>
          It is only an offence to deliberately handle the ball (except for the goalkeeper within their penalty area). "Deliberately handling" means either moving the hand or arm towards the ball or flight path of the ball, leaving the hand or arm in the flight path of the ball when there is ample time to move it, or placing the hand or arm in an unreasonable position, with the ball contacting the hand or arm. Unintentional handling is not an offence, even if the player who handled the ball gained a significant advantage.
          </p>
          <p>
          Free kicks for fouls are taken from wherever the offence occurred, even if they occur inside the goal area. Penalty kicks are awarded for denial of an obvious goalscoring opportunity by a foul / misconduct. Denial of a certain goal by a foul / misconduct results in a goal considered to have been scored and a kick-off to the conceding team.
          </p>
          <p>
          Players must retreat at least five metres from any opponents' restart until the ball is in play. Players must also retreat five metres from the goalkeeper when they are holding the ball.
          </p>
          <p>
          Free kicks awarded to the defending team inside their own goal area are taken as a goal line restart instead.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="section competitionregulationssummary">
    <h2 class="section-heading">Competition Regulations Summary</h2>
    <div class="container">
      <div class="row">
        <div class="twelve columns">
          <p>
          Wins result in 3 competition points, draws result in 1 point, and losses result in 0 points. 
          </p>
          <p>
          When a team forfeits, a 5 - 0 score is recorded in favour of the other team (unless the team forfeiting is losing by more than five goals at the time of the forfeit, in which case, that score is recorded instead). The other team will receive three competition points, and the forfeiting team will receive zero. 
          </p>
          <p>
          If both teams forfeit the result is recorded as 0 - 0, with both teams receiving zero competition points.
          </p>
          <p>
          Playing any ineligible player results in a forfeit.
          </p>
          <p>
          Captains of teams must report the score and names of scorers to the Competition Administrator upon completion of each match. 
          </p>
          <p>
          Captains of teams must also provide the Competition Administrator with the names of which opponents will receive three votes, two votes and one vote respectively towards Golden Ball (player of the tournament) upon completion of each match.
          </p>
          <p>
          If a match is abandoned for any other reason, or any disciplinary issues occur, they are handled at the discretion of the Competition Administrator.
          </p>
        </div>
      </div>
    </div>
  </div>        
</body>
</html>
